*{
    box-sizing: border-box;
}

nav, main, footer {
    border: 2px solid rgb(76, 143, 128); /* Temporary border to visualize the layout */
}

.review-bg-color {
    background-color: lightgreen;
}

.book-title {
    min-height: 300px;
}

.review-overlook-title {
    color: blue;
}