/* base.html styling */

*{
    box-sizing: border-box;
}

/*nav, main, footer {
    border: 2px solid rgb(14, 224, 31); /* Temporary border to visualize the layout
} */

/* index.html styling */

/*.review-bg-color {
    background-color: rgb(180, 199, 190);
}*/

.collumns {
    background-color: rgb(180, 199, 190);
}


.h2-wrapper {
    background-color: rgb(180, 199, 190);
}
.book-title {
    min-height: 300px;
}

.contribute-btn {
    margin-top: 15px;
    color: rgb(197, 43, 43);
    border: 2px solid rgb(197, 43, 43);
    background-color: rgb(180, 199, 190);
    border-radius: 3px;
    padding: 5px 30px;
    font-weight: bold
}

.review-overlook-title {
    color: rgb(197, 43, 43);
    
}

.h4-wrapper {
    background-color: rgb(197, 43, 43);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.review-link {
    color: black;
    text-decoration: none;
}

.max-height-responsive {
    max-height: 200px;
}

/* about.html styling */

/*.about-title {
    background-color: aqua;
}*/