{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-lg my-5">
  <h2 class="text-center about-title pt-3 pb-3 mb-3"><strong>Contribute to Our Project!</strong></h2>
  <div class="row gy-3 equal-height-row">
    <div class="equal-height-row col-sm-12 col-md-6 col-lg-4">
      <p class="text-collumn p-3 text-dark py-3"><br>Humanity is facing new challenges in times of global warming,
        landscape
        degradation, increased social insecurity, massive and uncontrolled migrations, and unprecedented globalization,
        to name some of the factors. Consequently, scientific knowledge about this phenomenon is rapidly increasing as
        devoted
        researchers in many scientific institutions try to understand the main ways to mitigate the short- and long-term
        negative consequences of human and natural disasters. Even for the most experienced experts, navigating through
        the "forest" of ever-increasing publications devoted to these topics is complex.<br><br>
        We strongly believe your expertise is crucial in summarizing the knowledge about the latest scientific
        breakthroughs in this field, which is why our institute developed this platform as a simple but effective
        communication tool.<br><br>
        We invite you to enter the fundamental data about a favourite book using a few-step procedure. We invite you to
        enter the fundamental data about a favourite book using a few-step procedure. Furthermore, navite to <a
          class="nav-link" href="{% url 'home' %}"><strong class="register-link">Home</strong></a> page to share your
        thoughts by
        simply clicking the words <strong>Comment Section</strong>. Let your
        contribution be the starting point for a lively discussion on the topic that will affect our lives and our
        future, whether we like it or not.</p>
    </div>
    <div class="text-collumn equal-height-row col-sm-12 col-md-6 col-lg-4">
      <div class="p-5 text-light">
        <form method="post" action="{% url 'about' %}">

          {% csrf_token %}

          {{ summary_form.as_p }}

          <div class="d-grid gap-2">

            <button type="submit" class="btn btn-success btn-lg">Submit</button>

            <div class="btn-group">

              <a href="#" class="btn btn-info">Read</a>

              <a href="#" class="btn btn-warning">Update</a>

            </div>

            <div class="btn-group">

              <a href="#" class="btn btn-danger">Delete</a>

              <a href="#" class="btn btn-dark">Comment</a>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="equal-height-row col-lg-4 p-0 bg-white d-none d-lg-block">
      <img src="{% static 'images/forest_fire.jpg' %}" alt="image of the forest fire desaster" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}

{% block copyright %}
Copyright 2023 Vladimir Aleksic
{% endblock copyright %}