{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-lg my-5">
  <h2 class="text-center about-title">Contribute to Our Project!</h2>
  <div class="row gy-3">
    <!-- manually change gutter using g{d}-{n} -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <p class="p-5 bg-primary text-light">Humanity is facing new challenges in times of global warming, landscape
        degradation, increased social insecurity, massive migrations, and unprecedented globalization, just to name some
        of the factors. Consequently, scientific knowledge about this phenomenon is rapidly increasing as numerous
        researchers in many scientific institutions try to understand the main ways to mitigate the negative
        consequences of human and natural disasters. Even for the most experienced experts, navigating through the
        "forest" of ever-increasing publications devoted to this topic is complex.
        Your expertise is crucial in summarizing the knowledge about the latest scientific breakthroughs in this field.
        Enter the basic data about a favourite book and share your thoughts about it in the review section. Let your
        contribution be the starting point for a lively discussion on the topic that will affect our lives and our
        future, whether we like it or not.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="p-5 bg-primary text-light">
        <form method="post" action="#">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="authors" class="form-label">Author(s)</label>
            <input type="text" class="form-control" id="authors" name="authors" required>
          </div>
          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" class="form-control" id="publisher" name="publisher" required>
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="number" class="form-control" id="year" name="year" required>
          </div>
          <div class="mb-3">
            <label for="edition" class="form-label">Edition (Optional)</label>
            <input type="text" class="form-control" id="edition" name="edition">
          </div>
          <div class="mb-3">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success btn-lg">Submit</button>
              <div class="btn-group">
                <a href="#" class="btn btn-info">Read</a>
                <a href="#" class="btn btn-warning">Update</a>
              </div>
              <div class="btn-group">
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-dark">Comment</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4 p-0 bg-white d-none d-lg-block">
      <img src="{% static 'images/forest_fire.jpg' %}" alt="image of the forest fire desaster" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}

{% block copyright %}
Copyright 2023 Vladimir Aleksic
{% endblock copyright %}