{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div>
      <h2 class="text-center about-title pt-3 pb-3 mb-3"><strong>Learn more about us!</strong></h2>
    </div>
  </div>
  <div class="row d-flex align-items-stretch row-gap-3">
    <!-- First Column: Text -->
    <div class="col-md-4 col-12 d-flex flex-column">
      <p class="text-collumn p-3 text-dark py-3 m-0 flex-grow-1">
        Humanity is facing new challenges in times of global warming, landscape degradation, increased social
        insecurity, massive and uncontrolled migrations, and unprecedented globalization, to name some of the
        factors. Scientific knowledge about this phenomenon is rapidly increasing as researchers try to
        understand and mitigate the negative consequences. Governments, organizations, and communities worldwide
        are struggling to develop sustainable solutions that balance economic growth with environmental and social
        responsibility. <br> As climate change accelerates, extreme weather events are becoming
        more frequent, threatening food security,
        biodiversity, and human settlements. Researchers are working tirelessly to analyze data, propose policies,
        and implement innovative technologies to reduce the harmful impact of these crises.</p>
    </div>
    <!-- Second Column: Image -->
    <div class="col-md-4 col-12 d-flex flex-column">
      <div class="flex-grow-1 d-flex align-items-center">
        <img src="{% static 'images/forest_fire.jpg' %}" 
             alt="image of the forest fire disaster" 
             class="img-fluid mx-auto">
      </div>
    </div>
    <!-- Third Column: Text -->
    <div class="col-md-4 col-12 d-flex flex-column">
      <p class="text-collumn p-3 text-dark py-3 m-0 flex-grow-1">
        However, collaboration
        between scientists, policymakers, and the public is essential to drive meaningful change. By fostering
        awareness and supporting evidence-based strategies, we can work toward a more sustainable and resilient future.
        <br>
        We strongly believe our expertise is crucial in summarizing knowledge about the latest scientific breakthroughs.
        Our insights and analytical skills help distill complex research findings into accessible and valuable
        information, ensuring that advancements in science are effectively communicated. By contributing our knowledge,
        we play a vital role in bridging the gap between researchers, policymakers, and the public, fostering informed
        discussions and promoting innovation that can address global challenges. <br> Our institute developed this
        platform as a communication tool. Navigate to our home page <a class="d-inline" href="{% url 'home' %}"><strong class="register-link"><i
          class="bi bi-house"></i></strong></a> to enter your beloved book or simply share your
        thoughts in the <em>Comment Section</em> on the same page.
        
      </p>

    </div>
  </div>
</div>

{% endblock %}

{% block copyright %}
Copyright 2023 Vladimir Aleksic
{% endblock copyright %}