{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="h2-wrapper py-3 d-flex flex-column align-items-center">
    <h2 class="list-of-books-title text-center"><strong>List of Books</strong></h2>
</div>
<div class="d-flex justify-content-around align-items-center py-3">
    {% if is_paginated %}
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        {% endif %}
    </div>
    {% endif %}

    <!--
    <div>
        <a href="{% url 'about' %}" class="contribute-btn btn btn-outline-info btn-lg">Contribute</a>
    </div>
    -->
    {% if page_obj.number == 1 %}
    <div class="p-5 text-light">
        <form method="post" action="{% url 'submit_summary' %}">

            {% csrf_token %}

            {{ summary_form | crispy }}

            <div class="d-grid gap-2">

                <button type="submit" class="btn btn-success btn-lg">Submit</button>

            </div>
        </form>
    </div>
    {% endif %}

    {% if is_paginated %}
    <div>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="container-lg my-3">
    <div class="row">
        {% for bibliography in object_list %}
        <div class="col-sm-12 col-md-6 col-xxl-4 collumns py-3 px-3">
            <div class="h4-wrapper pt-3 max-height-responsive">
                <h4 class="book-title text-white text-center">
                    {{ bibliography.title }}
                    <br>
                    <a href="{% url 'book_detail' bibliography.id %}" class="review-link"><br>
                        <strong class="">Comment Section</strong>
                    </a>
                </h4>
            </div>
            <br>
            <p class="book-author"><strong>{{ bibliography.author }}</strong></p>
            <p>created on: <strong>{{  bibliography.created_on }}</strong> <br> by:
                <strong>{{ bibliography.reader }}</strong> </p>
            <p class="book-content">{{ bibliography.summary }}</p>
            <div class="d-flex justify-content-center">
                {% if bibliography.reader == request.user %}

                <a href="{% url 'edit_bibliography' bibliography.id %}" class="btn btn-success my-1 book-edit-btn">Edit</a>
                <a href="{% url 'delete_bibliography' bibliography.id %}" class="btn btn-danger book-delete-btn">Delete</a>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}

{% block copyright %}
Copyright 2023 Vladimir Aleksic
{% endblock copyright %}
