{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="h2-wrapper py-3 d-flex flex-column align-items-center">
    <h2 class="review-overlook-title text-center"><strong>Reviews Overlook</strong></h2>
    <button type="button" class="contribute-btn btn-outline-info btn-lg"><a class="nav-link"
            href="{% url 'about' %}">Contribute</a></button>
</div>
<div class="container-lg my-3">
    <div class="row">
        {% for review in review_list %}
        <div class="col-sm-12 col-md-6 col-xxl-4 collumns pt-3">
            <div class="h4-wrapper pt-3 max-height-responsive">
                <h4 class="book-title text-white text-center">
                    {{ review.bibliography.title }}
                    <br>
                    <a href="{% url 'review_detail' review.id %}" class="review-link"><br>
                        <strong>Full Page View</strong>
                    </a>
                    <!--<i class="bi bi-arrows-angle-expand"></i>-->
                </h4>
            </div>
            <br>
            <p class="review-author"><strong>{{ review.bibliography.author }}</strong></p>
            <p>created on: <strong>{{  review.created_on }}</strong> <br> by:
                <strong>{{ review.bibliography.reader }}</strong> </p>
            <p class="review-content">{{ review.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block copyright %}
Copyright 2023 Vladimir Aleksic
{% endblock copyright %}
