{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ review.bibliography.title }}</h1>
                <p class="post-subtitle"> Author: <strong>{{ review.bibliography.author }}</strong><br>created by:
                    <strong>{{ review.user }}</strong>
                    <br>created on: <strong>{{ review.created_on }}</strong></p>
                <hr>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <img src="{% static 'images/orange_fire_logo.jpg' %}" class="img-fluid"
                        alt="logo in the shape of orange fire">
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body md">
                    <p class="card-text">
                        {{ review.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
