{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ review.bibliography.title }}</h1>
                <p class="post-subtitle"> Author: <strong>{{ review.bibliography.author }}</strong><br>created by:
                    <strong>{{ review.user }}</strong>
                    <br>created on: <strong>{{ review.created_on }}</strong></p>
                <hr>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <img src="{% static 'images/orange_fire_logo.jpg' %}" class="img-fluid"
                        alt="logo in the shape of orange fire">
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body md">
                    <p class="card-text">
                        {{ review.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Displaying count of comments -->
<div class="row">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ reviews_count }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<!-- Displaying Reviews -->
<div class="row">
    <div class="col-md-8 card mb-4 mt-3">
        <h3>Reviews:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each review in reviews -->
            {% for review in reviews %}
            <div class="p-2 review {% if review.user == user %}font-weight-bold{% endif %}">
                <p>
                    {{ review.user }}
                    <span class="font-weight-normal">
                        {{ review.created_on }}
                    </span> wrote:
                </p>
                <div id="review{{ review.id }}">
                    {{ reviews | linebreaks }}
                </div>
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
